/.idea
.env
.DS_Store
*.html
/Assignment 2/Papers
/venv
*.aux
*.log
*.out
*.nav
*.snm
*.toc
/papers
/Final Project/images
/volumes
*/output/
*.db
*.env
/test.ipynb
/rag_tester.py
/analyze_results.py
/test_raw_vs_markdown.py
/page2_only.pdf
*.pyc
medical-agent/MIMIC_data/
medical-agent/adsp-34002-ip09-team-2-e0cca2d396a9.json
medical-agent/data/
memory-bank/
/docs


Data_Ingestion_VDB/output.txt
Data_Ingestion_VDB/data/
Data_Ingestion_VDB/extracted_content/
Data_Ingestion_VDB/test_dataset/
Data_Ingestion_VDB/full_dataset/
Data_Ingestion_VDB/tests/
Data_Ingestion_VDB/docling/
Data_Ingestion_VDB/detectron2/
Data_Ingestion_VDB/venv/
Data_Ingestion_VDB/temp/
Data_Ingestion_VDB/strategy_3_textbook/
Data_Ingestion_VDB/strategy_5_research/



data_ingestion/.env
data_ingestion/service_account.json

pdf_pipeline/.env
pdf_pipeline/service_account.json
pdf_pipeline/rag_storage/